<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Mi Familia</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>
    <header>
        <h1>Sobre Mi Familia</h1>
    </header>
    <nav>
        <a href="../index.html">Quién soy</a>
        <a href="hobbies.html">Qué me gusta hacer</a>
        <a href="familia.html">Familia</a>
    </nav>
    <main>
        <section class="familia">
            <div class="Cuerpo-familia">
                <p>En mi familia somos seis:
                    aqui vemos a mi padre, mi madre y yo </p>
                <img src="../assets/images/padres.jpeg" alt="Mis padres">
            </div>
            <div class="Cuerpo-familia">
                <p> Aqui vemos a mi hermano y su esposa</p>
                <img src="../assets/images/hermano.jpeg" alt="Mi hermano">
                <p>Cuando me cambié de residencia, mis padres continuaron viviendo en Bogotá. Ahora vivo con mi hermano y su familia</p>
            </div>
            <div class="Cuerpo-familia">
                <p>Tenemos cuatro mascotas:.</p>
                <p>Cristiana Ronalda</p>
                <img src="../assets/images/cris2.jpeg" alt="cris">
            </div>
            <div class="Cuerpo-familia">
                <p>Mickey</p>
                <img src="../assets/images/mickey.jpeg" alt="mickey">
            </div>
            <div class="Cuerpo-familia">
                <p>Roxy</p>
                <img src="../assets/images/roxy.jpeg" alt="roxy">
                <p>Roxy es juguetona y muy traviesa, casi siempre tiene hambre, cuando te demoras mas de 2 minutos en darle comida se comienza a hacer la dramatica comiendo bolsas</p>
            </div>
            <div class="Cuerpo-familia">
                <p>Minie</p>
                <img src="../assets/images/minie.jpeg" alt="minie">
                <p class ="decripcion" >A minie le gusta leer libros es muy traviesa y siempre tiene hambre.
                    a ella la adoptamos ya que era callejera, aun sigue saliendo de noche a bucar pelea con otros gatos
                </p>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Yuliana Yate. Todos los derechos reservados.</p>
    </footer>
</body>

</html>