<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Hobbies</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <header>
        <h1>Mis Hobbies</h1>
    </header>
    <nav>
        <a href="../index.html">Quién soy</a>
        <a href="hobbies.html">Qué me gusta hacer</a>
        <a href="familia.html">Familia</a>
    </nav>
    <main>
        <section class="hobbies">
            <div class="Cuerpo-hobbies">
                <p>Mi mayor hobby es dormir. También me gusta salir a caminar y conocer lugares nuevos. Cuando vivía en Bogotá, amaba jugar al fútbol, ya que me ayudaba a desestresarme. Sin embargo, aquí en Quindío ya no me da tanta motivación, ya que hace bastante calor.</p>
                <img src="../assets/images/cancha.jpeg" alt="cancha">
            </div>

            <div class="Cuerpo-hobbies">
                <p>Otro hobby es jugar al fútbol con mis amigos. Siempre disfrutamos mucho de los partidos y es una excelente forma de mantenerme activa.</p>
                <img src="../assets/images/equipo.jpeg" alt="equipo">
                <p>Jugabamos campeonatos contra las demas localidades que habia en Bogota, fuimos mejorando mucho hasta que ya un dia todos buscamos otro rumbo  </p>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Yuliana Yate. Todos los derechos reservados.</p>
    </footer>
</body>
</html>